@media screen and (max-width: 1000px){
    .customproject{
        height: 50vh;
    }
}
.car{
    height: 40vmax;
    width: 70vw;
   justify-self: center;
   
}

.backg{
 object-fit: cover;
  position: fixed;
    height: 100vh;
    width: 100vw;
}
.customproject{background-color: rgba(48, 45, 42, 0.602);
opacity: 0.8;
height: 49vmax;
width: 100vw;
border-top: 5px solid grey;
border-bottom: 5px solid grey;
}
.car1{
   
    color: rgb(8, 8, 8);
 background-color: rgb(159, 77, 77);
}
.car1:hover{
    background-color: aqua;
}
.center{
    place-self: center;
}

